In [1]:
import pandas as pd
import scipy
from scipy.stats import kendalltau as kt

In [2]:
exp_data = {"Rank": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], "Experimental Order": [1.366666667, 2.82, 13.03333333, 29, 
                                                                                30.83333333, 78.66666667, 93,
                                                                                133, 148.6666667, 369.3333333,
                                                                                416.6666667]}
exp_df = pd.DataFrame(data=exp_data)
exp_df.head()

   Rank  Experimental Order
0     1            1.366667
1     2            2.820000
2     3           13.033333
3     4           29.000000
4     5           30.833333

In [3]:
pred_data_GOLD = {"Rank": [2, 10, 4, 8, 3, 5, 7, 1, 9, 11, 6],
                  "Predicted Order GOLD": [58.98,58.78,56.74,
                                           56.73,56.3,55.9,
                                           55.66,54.78,53.19,
                                           53.12,50.43]}
pred_df_GOLD = pd.DataFrame(data=pred_data_GOLD)
pred_df_GOLD.head()

   Rank  Predicted Order GOLD
0     2                 58.98
1    10                 58.78
2     4                 56.74
3     8                 56.73
4     3                 56.30

In [4]:
pred_data_CLUSTERING = {"Rank": [2, 3, 5, 10, 4, 1, 8, 7, 9, 6, 11],
                  "Predicted Order Clustering": [58.89, 56.71, 56.06, 55.68, 
                                                 55.59, 54.85, 54.66, 54.41, 
                                                 53.66, 53.04, 52.21]}
pred_df_CLUSTERING = pd.DataFrame(data=pred_data_CLUSTERING)
pred_df_CLUSTERING.head()

   Rank  Predicted Order Clustering
0     2                       58.89
1     3                       56.71
2     5                       56.06
3    10                       55.68
4     4                       55.59

In [5]:
pred_data_Manual = {"Rank": [2, 1, 3, 8, 6, 9, 10, 7, 5, 11, 4],
                  "Predicted Order Manual": [2.781, 2.8480000000000003,2.863,
                                             2.8680000000000003,2.8689999999999998,2.9,
                                             2.9019999999999997,2.923,2.941999999999999,
                                             73.005,3.023]}
pred_df_Manual = pd.DataFrame(data=pred_data_Manual)
pred_df_Manual.head()

   Rank  Predicted Order Manual
0     2                   2.781
1     1                   2.848
2     3                   2.863
3     8                   2.868
4     6                   2.869

In [6]:
coef_gold, p_gold = kt(exp_df, pred_df_GOLD)
coef_clust, p_clust = kt(exp_df, pred_df_CLUSTERING)
coef_manual, p_manual = kt(exp_df, pred_df_Manual)

In [7]:
print("Kendal Tau Correlation for GOLD ranking = " + str(round(coef_gold, 3)) + "\n"
     "With P-value = " + str(round(p_gold, 3)))

Kendal Tau Correlation for GOLD ranking = 0.169
With P-value = 0.288

In [8]:
print("Kendal Tau Correlation for Clustering ranking = " + str(round(coef_clust, 3)) + "\n"
     "With P-value = " + str(round(p_clust, 3)))

Kendal Tau Correlation for Clustering ranking = 0.229
With P-value = 0.144

In [9]:
print("Kendal Tau Correlation for Manual ranking = " + str(round(coef_manual, 3)) + "\n"
     "With P-value = " + str(round(p_manual, 3)))

Kendal Tau Correlation for Manual ranking = 0.221
With P-value = 0.16