In [1]:
import pandas as pd
import scipy
from scipy.stats import kendalltau as kt

In [2]:
exp_data = {"Rank": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], "Experimental Order": [10.9, 14, 52.67, 92, 
                                                                                97.67, 101.5, 106.7, 
                                                                                240, 313.33, 336.6, 
                                                                                707]}
exp_df = pd.DataFrame(data=exp_data)
exp_df.head()

   Rank  Experimental Order
0     1               10.90
1     2               14.00
2     3               52.67
3     4               92.00
4     5               97.67

In [3]:
pred_data_GOLD = {"Rank": [3, 1, 10, 5, 8, 7, 4, 6, 11, 2, 9],
                  "Predicted Order GOLD": [60.78, 58.93, 58.55, 
                                           57.9, 57.77, 57.7, 
                                           56.42, 55.26, 54.88, 
                                           54.75, 54.28]}
pred_df_GOLD = pd.DataFrame(data=pred_data_GOLD)
pred_df_GOLD.head()

   Rank  Predicted Order GOLD
0     3                 60.78
1     1                 58.93
2    10                 58.55
3     5                 57.90
4     8                 57.77

In [4]:
pred_data_CLUSTERING = {"Rank": [3, 1, 2, 7, 5, 4, 9, 6, 11, 8, 10],
                  "Predicted Order Clustering": [61.17, 58.68, 58.09, 
                                                 57.95, 57.44, 56.7, 
                                                 55.4, 54.96, 54.63, 
                                                 54.29, 53.19]}
pred_df_CLUSTERING = pd.DataFrame(data=pred_data_CLUSTERING)
pred_df_CLUSTERING.head()

   Rank  Predicted Order Clustering
0     3                       61.17
1     1                       58.68
2     2                       58.09
3     7                       57.95
4     5                       57.44

In [5]:
pred_data_Manual = {"Rank": [10, 3, 11, 9, 2, 6, 5, 4, 8, 7, 1],
                  "Predicted Order Manual": [1.93, 2.001, 2.048,
                                             2.049, 2.053, 2.057,
                                             2.058, 2.062, 2.064,
                                             2.113, 2.263]}
pred_df_Manual = pd.DataFrame(data=pred_data_Manual)
pred_df_Manual.head()

   Rank  Predicted Order Manual
0    10                   1.930
1     3                   2.001
2    11                   2.048
3     9                   2.049
4     2                   2.053

In [6]:
coef_gold, p_gold = kt(exp_df, pred_df_GOLD)
coef_clust, p_clust = kt(exp_df, pred_df_CLUSTERING)
coef_manual, p_manual = kt(exp_df, pred_df_Manual)

In [7]:
print("Kendal Tau Correlation for GOLD ranking = " + str(round(coef_gold, 3)) + "\n"
     "With P-value = " + str(round(p_gold, 3)))

Kendal Tau Correlation for GOLD ranking = 0.325
With P-value = 0.036

In [8]:
print("Kendal Tau Correlation for Clustering ranking = " + str(round(coef_clust, 3)) + "\n"
     "With P-value = " + str(round(p_clust, 3)))

Kendal Tau Correlation for Clustering ranking = 0.429
With P-value = 0.005

In [9]:
print("Kendal Tau Correlation for Manual ranking = " + str(round(coef_manual, 3)) + "\n"
     "With P-value = " + str(round(p_manual, 3)))

Kendal Tau Correlation for Manual ranking = -0.186
With P-value = 0.239